<div class="row">
	<div class="col d-flex justify-content-center mb-2 mt-4">
		<h2>Discussion Session</h2>
	</div>
</div>
<form [formGroup]="form">
	<div class="form-group">
		<label class="form-label required" for="email">Email:</label>
		<input id="email" class="form-control form-control-lg" type="email" 
			placeholder="Your LumiNUS email" formControlName="email">
	</div>
	<div class="form-group mb-5">
		<label class="form-label required" for="date">Date:</label>
		<select id="date" class="form-control form-control-lg" 
				formControlName="date" (change)="onDateChange()">
			<option value="apr-16-2021">Friday Apr 16 2021</option>
		</select>
		<small class="form-text text-muted">Select date to view availability</small>
	</div>
	<div class="row">
		<div class="col d-flex justify-content-around">
			<button class="btn btn-lg btn-primary" type="button" (click)="bookSession('am')"
					[disabled]="shouldDisable('am')">
				Morning (0900 - 1130) {{ amLabel }}
			</button>
			<button class="btn btn-lg btn-success" type="button" (click)="bookSession('pm')"
					[disabled]="shouldDisable('pm')">
				Afternoon (1330 - 1600) {{ pmLabel }}
			</button>
		</div>
	</div>
</form>
<div class="row mt-5" *ngIf="feedbackMsg">
	<div class="col alert" [ngClass]="{'alert-success': !isError && !morning, 'alert-primary': !isError && morning, 'alert-danger': isError}">
		{{ feedbackMsg }}
	</div>
</div>
