/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

button:disabled {
	cursor: not-allowed;
}

.required:after {
	content: "*";
	color: red;
	vertical-align: .2em;
	font-weight: bold;
}
